.contenedor {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.encabezado {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
  background-color: red;
  position: fixed;
  top: 1%;
}

.encabezado nav {
  display: flex;
  width: 35%;
  justify-content: space-around;
  padding: 1%;
  }
.logo{
  display: flex;
  justify-content: center;
  align-self: center;

}
.logo img{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20%;
  height: 100%;
}

.encabezado nav a {
  display: flex;
  justify-content: space-between;
}
.encabezado .iconosNav{
  display: inline-flex;
  flex-wrap: wrap;
  width: 15%;
}
.iconosNav img{
  display: block;
  width: 125%;
  height: 49%;
}

.seccion1 {
  margin-top: 5%;
}

.botones {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
}

.botones img {
  display: flex;
  width: 25%;
  height: 100%;

}

.seccion1 h1, h2 {
  display: flex;
  justify-content: center;
}

.seccion1, .seccion2, .seccion3, .seccion4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  align-items: center;
}

.seccion1 h3 {
  display: flex;
  justify-content: center;
}

.partes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.imagen {
  display: inline-flex;
  width: 50%;

}
.imagen img{
  display: inline-flex;
  width: 100%;
  margin: 1%;
}

.texto {
  display: inline-flex;
  width: 50%;
  margin: 1%;
  flex-direction: column;
}
#femenino{
  display: none;
}
#masculino{
  display: none;
}
#fecundacion{
  display: none;
}
#pop{
display: inline-flex;
justify-content: space-between;
flex-wrap: wrap;
width: 70%;
}
#pop>img{
  display: flex;
  width: 30%;
  height: 20%;
}
