.contenedor {

  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  background-color: #56074B;
}

.encabezado {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
  background-color: #70D4B4;
  position: fixed;
}

.encabezado nav {

  display: flex;
  width: 35%;
  justify-content: space-around;
  padding: 1%;
  }
.logo{
  display: flex;
  justify-content: flex-start;
  align-self: center;
  padding-left: 3%;
}
.logo img{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 54%;
  height: 100%;
}

.encabezado nav a {
  display: flex;
  justify-content: space-between;
  font-family: "free";
}
.encabezado .iconosNav{
  display: inline-flex;
  flex-wrap: wrap;
  width: 15%;
}
.iconosNav img{
  display: block;
  width: 125%;
  height: 49%;
}

/* Seccion Mi cuerpo*/

.seccion1 {
  margin-top: 5%;
  background-color: #fff;
  color: #f25e36;
}

.botones {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
}

.botones img {
  display: flex;
  width: 25%;
  height: 100%;
  cursor: pointer;
transition: transform ease .3s;

}
.botones img:hover{
  transform: scale(1.2);
}

.seccion1 h1, h2 {
  display: flex;
  padding:2%;
  justify-content: center;
  font-family: "free";
  font-size: 3vw;
  cursor: pointer;
  transition: transform ease .3s;
}
.seccion1 h1:hover,h2:hover{
  transform: scale(1.2);
}

.seccion1 p{
  width:100%;
  padding:2%;
  font-family: 'Ubuntu Condensed', sans-serif;
  background: #80A3A2;
  color:#fff;
}
.seccion1, .seccion2, .seccion3, .seccion4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding:2%;
  width: 100%;
  align-items: center;
}

.seccion1 h3 {
  display: flex;
  padding:2%;
  justify-content: center;
  font-family: "free";
  font-size: 2vw;
}

.partes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}


.imagen {
  /*display: inline-flex;*/
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.imagen img{
  /*display: inline-flex;*/
  width: 50%;
  margin: 1%;
  justify-content: center;
  align-content: center;
}

.texto {
  /*display: inline-flex;*/
  width: 50%;
  margin: 1%;
  flex-direction: row;
  justify-content: space-around;
}
.texto ul{
  list-style: none;
  padding: 2%;
  background:  #80A3A2;
  color:#fff;
  width:100%;
}
.seccion3{
  background: #80A3A2;

}
.seccion3 h3{
  font-family: "free";
  font-size: 6vw;
  color:#f25e36;
  padding:2%;
}
.container{
  display: flex;
  width: 100%;
  flex-direction: row;
}
.alternativas{
  width:80%;
  background: #fff;
  color:#56074B;
  padding:2%;
  font-family: 'Ubuntu Condensed', sans-serif;
}
#iconos{
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #80A3A2;
}
#contenedorIconos{
  width:100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.icono{
  width:26.6%;
  padding: 1%;
}

#femenino{
  display: none;
}
#masculino{
  display: none;
}

#fecundacion{
  display: none;
}
#pop{
display: inline-flex;
justify-content: space-between;
flex-wrap: wrap;
width: 70%;
}
#pop>img{
  display: flex;
  width: 30%;
  height: 20%;
}
#loTengo{
  background-color: pink;
}
#adopcion{
  background-color: yellow;
}
#aborto{
  background-color: blue;
  padding: 2%;
}
#titulo{
  display: flex;
justify-content: center;
cursor: pointer;
font-family: "free";
transition: transform ease .3s;
}
#titulo:hover{
  transform: scale(1.3);
}
#abortarPreg{
  display: none;
}
#pregunta1, #pregunta2, #pregunta3, #pregunta4, #pregunta5, #pregunta6, #pregunta7, #pregunta8, #pregunta9{
  cursor: pointer;
  transition: transform ease .3s;
  margin: 1%;
  padding: 1%;
  }
 #respuesta3, #respuesta4, #respuesta5, #respuesta6, #respuesta7, #respuesta8, #respuesta9,#respuesta1,#respuesta2{
  display: none ;
}
.slide{
  display: flex;
  width: 100%;
  justify-content: center;
}
.slide div{
  width: 100%;
  justify-content: center;
}
.slide img{
    width: 100%;
}

 .slide .img2, .slide .img3, .slide .img4{
     display: none;
}
